body {
  background-color: #cccccc;
}

.title {
  position: absolute;
  font-size: 10px;
}

.center-text {
  text-align: center;
  font-size: 14px;
}

.buttons {
  display: block;
  width: 100%;
  border: 3px solid #374254;
  background-color: #8a8fa3;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 25px;
  margin: 10px 0;
  }

  .buttons:hover {
    border: 3px solid #ffffff;
    background-color: #374254;
  }

.mid {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.ad {
  top: 15%;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.img-box {
  display: flex;
  align-items:center;
}

.img-logo {
  float: right;    
  margin: 0 0 0 25px;
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50px;
}
.card-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: row
}

@media (max-width: 1000px) {
  .card-box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column 
  }
}

.box {
  width: 33%;
  padding: 1em;
  border: 3px solid #374254;
  margin: 1em;
  background-color: #adbbc6;
  border-radius: 25px;
  border-style: inset;
}

@media (max-width: 1000px) {
  .box {
    width: 95%;
    padding: 1em;
    border: 3px solid #374254;
    margin: 1em;
    background-color: #adbbc6;
    border-radius: 25px;
    border-style: inset;
  }
}

.full-height {
  min-height: 90vh;
  box-sizing: border-box;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }